<div id="footerFixed">
  <div class="container text-center">
    <div class="col-md-6">
            <p>&copy; 2024 Tous droits réservés - par <a href="mailto:contact@biguard.fr?" target="_blank" rel="nofollow">Alexandre de l'équipe Biguard</a></p>
    </div>
    <div class="col-md-6">
      <div class="social">
        <ul>
          <li><a href="https://www.instagram.com/biguard_agency" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>