<div id="footerFixed">
  <div class="container text-center">
    <div class="col-md-6">
      <p>&copy; 2023 Tous droits réservés Epices et tout - par <a href="https://www.linkedin.com/in/alexandre-cousin-124940253/" target="_blank" rel="nofollow">Alexandre.C</a></p>
    </div>
    <div class="col-md-6">
      <div class="social">
        <ul>
          <li><a href="https://www.facebook.com/people/Epices-et-tout/100028871517168/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/epicesettoutrestaurant" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>