{% extends 'base.html.twig' %}

{% block title %}Edit Desserts
{% endblock %}

{% block body %}
	<section class="crud">
		<h1>Edit Desserts</h1>

		{{ include('admin/components/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<a href="{{ path('app_admin_desserts_index') }}"><i class="fa-solid fa-chevron-left"></i> Retour</a>
	</section>
{% endblock %}
