{% extends 'base.html.twig' %}

{% block title %}New Entree
{% endblock %}

{% block body %}
	{% include "partials/navbarFixed.html.twig" %}

	<section class="crud">
		<h1>Ajouter une nouvelle Entrée</h1>

		{{ include('admin/components/_form.html.twig') }}

		<a href="{{ path('app_admin_entree_index') }}">
			<i class="fa-solid fa-arrow-left"></i>
			Retour
		</a>
	</section>
{% endblock %}
