{{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_widget(form, {'attr': {'class': 'formWidget'}}) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
