#features {
    padding: 100px 0;
    background: $white;
    text-align: center;
    max-width: 90%;
    margin: auto;

    .section-title {
        margin-bottom: 70px;

        h2 {
            font-weight: 400;
            font-size: 38px;
            color: $black;
            text-transform: uppercase;
            position: relative;
            margin-top: 10px;
            margin-bottom: 15px;
            padding-bottom: 20px;
            font-family: 'Montserrat', sans-serif;

            &::after {
                position: absolute;
                content: "";
                background: $pink;
                height: 2px;
                width: 70px;
                bottom: 0;
                margin-left: -35px;
                left: 50%;
            }
        }
    }
}