.swiper-container {
    position: relative;
    overflow: hidden;

    img {
        width: 80%;
        height: auto;

        &.unselectable {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: $button;
        width: 45px;
        height: 45px;

        &::after {
            font-size: 25px;
            color: $white;
        }
        &:hover {
            color: $pink;
        }
    }
}