<article id="about">
  <div class="container-about">
    <div class="row-about">
      <div class="col-xs-12 col-md-6 about-img"> 
        <img src="{{ asset('images/about.jpg') }}" alt="">
      </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="about-text">
          <div class="section-title">
            <h2>Une histoire de famille</h2>
          </div>
          <p>Gourmets, curieux et audacieux, <span>Quentin</span> et <span>Aurélie</span> vous accueillent au sein de leur restaurant pour partager, le temps d'un repas, leur amour des bonnes choses.

Epices et tout vous propose une cuisine toute en saveurs, faite de produits frais et locaux à découvrir au gré des cartes de saison.

Tout les plats sont réalisés par le chef et répondent au label "Fait maison", ce qui nous permet de nous adapter à tous types de demande : repas sans lactose, sans gluten ou végétarien...</p>
        </div>
      </div>
    </div>
  </div>
</article>