<form action="traitement.php" method="POST" enctype="multipart/form-data">

    <label for="firstname">Nom / Prénom :</label>
    <input type="text" id="firstname" name="firstname" required>

    <label for="age">Âge :</label>
    <input type="text" id="age" name="age" required>

    <label for="email">Email :</label>
    <input type="email" id="email" name="email" required>
    
    <label for="ville_de_residence">Ville de résidence :</label>
    <input type="text" id="ville_de_residence" name="ville_de_residence" required>
    
    <label for="contenu">Contenu avec lequel vous êtes à l'aise :</label>
        <select id="contenu" name="contenu">
            <option value="lingerie_bikini">Lingerie / Bikini</option>
            <option value="top_less">Top Less</option>
            <option value="nude">Nude</option>
            <option value="masturbation">Masturbation</option>
            <option value="sextape">Sextape</option>
        </select>
    
    <label for="type_de_tel_possed">Type de téléphone possédé (exemple : Iphone X)</label>
    <input type="text" id="type_de_tel" name="type_de_tel" required>
    
    <label for="onlyfan_account">Avez-vous déjà un compte OnlyFans ?</label>
    <input type="text" id="onlyfan_account" name="onlyfan_account" required>
    
    <label for="combien_de_temps_par_jour">Combien d'heure par jour pouvez vous consacrer ?</label>
    <input type="text" id="combien_de_temps_par_jour" name="combien_de_temps_par_jour" required>
    
    <label for="niveau_anglais">Niveau d'anglais :</label>
    <select id="niveau_anglais" name="niveau_anglais">
        <option value="debutant">Débutant</option>
        <option value="intermediaire">Intermédiaire</option>
        <option value="avance">Avancé</option>
        <option value="natif">Natif</option>
    </select>
    
    <label for="photo">Insérer photo :</label>
    <input type="file" id="photo" name="photo" accept="image/*" multiple>
    
    <label for="reseaux_sociaux">Réseaux sociaux actuels :</label>
    <input type="text" id="reseaux_sociaux" name="reseaux_sociaux" required>
    
    <button type="submit">Inscription</button>
</form>