<div id="contact">
	<div class="container">
		<div class="section-content">
			<div class="section-text">
				<div class="section-title">
					<h2>Contact</h2>
				</div>
				<div class="section-description">
					<h3>Pour vos réservations contactez-nous par téléphone : <a href="tel:0466524379">04 66 52 43 79</a></h3>
					<div class="section-list">
						Pour toutes autres questions :
						<ul>
							<li>- besoin d'une <span>grande tablée</span> pour fêter un événement important</li>
							<li>- envie de <span>faire plaisir</span> avec une idée originale avec un bon cadeau</li>
							<li>- ou autre chose...</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="lower-section">
			<div id="map"></div>
			<table class="hours">
				<tr>
					<th>Jours</th>
					<th>Services</th>
				</tr>
				<tr>
					<td>Lundi</td>
					<td>Midi &amp; Soir</td>
				</tr>
				<tr>
					<td>Mardi</td>
					<td>Midi &amp; Soir</td>
				</tr>
				<tr>
					<td>Mercredi</td>
					<td>Midi uniquement</td>
				</tr>
				<tr>
					<td>Jeudi</td>
					<td>Midi &amp; Soir</td>
				</tr>
				<tr>
					<td>Vendredi</td>
					<td>Midi &amp; Soir</td>
				</tr>
				<tr>
					<td>Samedi</td>
					<td>Soir uniquement</td>
				</tr>
				<tr>
					<td>Dimanche</td>
					<td>Fermé</td>
				</tr>
			</table>
		</div>
	</div>
</div>


{% block javascript %}
	<script type="module" src="{{ asset('js/leaflet.js') }}"></script>
{% endblock %}
