<section id="features" class="text-center">
	<div class="">
		<div class="section-title">
			<h2>Galerie</h2>
		</div>

		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for image in images %}
					<div class="swiper-slide features-item col-xs-12 col-sm-4">
						<div class="swiper-zoom-container" data-swiper-zoom="5">
							<img src="{{ asset('images/gallery/' ~ image) }}" class="img-responsive unselectable" loading="lazy" alt="">
							<div class="swiper-lazy-preloader"></div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
			
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>

{% block javascript %}
	<script type="module" src="{{ asset('js/swiper.js') }}"></script>
{% endblock %}
