<header id="header">
	<div class="intro">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="intro-text">
						<div class="title">
							<h1 class="typed-out">L'agence Mym &amp; Onlyfans</h1>
							<h2>en vogue
								<img src="{{ asset('images/france.png')}}" alt=""></h2>
						</div>
						<div class="contact-text">
							<p>Réserve ton appel dès maintenant.</p>
							<a href=""><span>Contactez-nous</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>


{% block javascript %}
	<script src="{{ asset('js/header.js') }}"></script>
{% endblock %}
