<section class="services">
	<h2>Notre Biguard Management</h2>
	<div class="services-tasks">
		<article class="service-category">
			<div class="icon-container">
				<i class="fa-solid fa-pen-ruler"></i>
			</div>
			<ul>
				<li>Création du compte</li>
				<li>Restructuration du compte</li>
				<li>Plan de planification du contenu</li>
				<li>Publication du contenu</li>
			</ul>
		</article>

		<article class="service-category">
			<div class="icon-container">
				<i class="fa-regular fa-comment-dots"></i>
			</div>
			<ul>
				<li>Management des messages privés</li>
				<li>Gestion des abonnements</li>
			</ul>
		</article>

		<article class="service-category">
			<div class="icon-container">
				<i class="fa-solid fa-user-plus"></i>
			</div>
			<ul>
				<li>Créations de réseaux sociaux</li>
				<li>Gestion des réseaux sociaux</li>
				<li>Opérations de sponsoring</li>
				<li>Acquisition de nouveaux abonnés</li>
				<li>Technique de Growth Marketing</li>
			</ul>
		</article>
	</div>
</section>
